@import 'styles/_colors';
@import 'styles/_typography';

.breadcrumbs {
	ol {
		list-style-type: none;
		padding-left: 0;
		display: flex;
		align-items: center;

		padding: 0;
		margin: 0;
		
		> li {
			display: flex;
			align-items: center;
			margin-right: 3px;
			
			&:after {
				content: '/';
				display: inline-block;
				margin-left: 3px;
			}
		
			&:last-child {
				margin-right: 0;
			
				&:after {
					content: none;
				}
			}
		
			> .crumb {
				font-size: 12px;
				padding-left: 0;
				padding-right: 0;

				@include primary-link('small');
				
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		
			.icon-home:before {
				margin-left: 0;
			}
		}
		
		> li.home-crumb {
			&:after {
				content: none;
			}
		}
	}
}