@import 'styles/_typography';
@import 'styles/_colors';

.section-indicator {
	width: auto;
	//margin: 0 70px 0 0;
	margin: $content-margin;
	max-width: 150px;
	display: inline-block;
	vertical-align: top;

	&.small-gaps {
		> ul > li {
			margin-bottom: 60px;

			&:after {
				height: 40px;
			}
		}
	}
	
	> ul {
		margin: 0 20px 0 0;
		padding: 0px;
		list-style: none;
		font-family: $font-family-headings;
		font-weight: $font-weight-semibold;
		font-size: 16px;
	
		> li {
			width: 100%;
			padding: 0;
			margin: 0px;
			font-size: 14px;
			line-height: 1.3;
			position: relative;
			margin-bottom: 120px;
	
			&:hover:not(.disabled) {
				color: $brand-black;

				.section-indicator-circle {
					border: 1px solid $brand-red;
				}
			}
		
			&.active {
				.section-indicator-circle {
					font-weight: $font-weight-medium;
					border: 1px solid $brand-red;
					color: $brand-darkblue;
				}
			}
	
			&.complete {
				.section-indicator-circle {
					border: 1px solid $brand-green;
				}
		
				&:after {
					background-color: $brand-green;
				}
			}

			&.disabled {
				button:disabled,
				.section-indicator-circle > span {
					color: $brand-lightgrey;
				}
			}
	
			&:after {
				top: 100%;
				left: 0px;
				margin: 10px 0 10px 16px;
				padding: 0px;
				position: absolute;
				display: block;
				content: '';
				width: 1px;
				height: 100px;
				background-color: $brand-lightgrey;
				z-index: 0;
			}
	
			&:last-child:after {
				height: 0px;
			}
		}
	}

	&-name {
		text-align: left;
		//@include aside-title;

		text-transform: uppercase;
	}

	&-button {
		background: none;
		padding: 0;
		border: none;
		display: flex;
		align-items: center;
		cursor: pointer;

		&:disabled {
			cursor: not-allowed;
		}
	}

	&-circle {
		width: 32px;
		height: 32px;
		min-width: 32px;
		min-height: 32px;
		color: $brand-darkgrey;
		vertical-align: top;
		line-height: 1.2;
		text-align: center;
		padding: 6px 0 0 0px;
		margin-right: 10px;
		border-radius: 16px;
		display: inline-block;
		background-color: white;
		position: relative;

		> span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		> .icon-check {
			//font-size: 10px;
			//top: 53%;
			color: $brand-green;
		}
	}
}