@import 'styles/_layout';
@import 'styles/_colors';

.list-view {
	&-master {
		flex-grow: 1;

		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	&-add {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}

	&-md-master-inner {
		display: block;

		padding-top: $content-padding;
		padding-bottom: $content-padding;
	}

	&-list {
		overflow: auto;
		width: 100%;
	}

	&-commands {
		padding: $content-padding;
	}

	&-back {
		margin-top: $content-margin;
	}

	@media (max-width: $screen-sm-max) {
		height: 100%;
		display: flex;
		flex-direction: column;

		&-md {
			flex-grow: 1;
		}
	}
}