@import 'styles/_layout';

.car-search-form {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;

	width: $max-content-width;
	max-width: 100%;
	margin: 0 auto;

	.field {
		flex-basis: 0;
		flex-grow: .3333;
		margin: $content-padding;

		label {
			font-size: $content-margin;
			text-transform: lowercase;
		}

		.field-inner {
			min-width: 0 !important;
		}

		.custom-dropdown {
			min-width: 36px;
		}
	}

	&-submit {
		padding-top: 44px;
		text-align: center;
	}

	@media (max-width: $screen-sm-max) {
		flex-direction: column;
		align-items: stretch;

		.field {
			flex-basis: auto;
		}
		
		&-submit {
			padding-top: $content-padding;
			padding-bottom: $content-padding;
		}
	}
}