@import 'styles/_colors';
@import 'styles/_layout';

html.no-scroll {
	overflow: hidden;
}

.layout {
	width: 100%;
	display: flex;
	flex-direction: column;

	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;

	&-content {
		flex-grow: 1;

		background: $brand-white url('./img/cta_bkgd.png');
		background-repeat: repeat;

		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
		height: calc(100% - 75px);
		overflow-x: hidden;
		overflow-y: auto;

		-webkit-overflow-scrolling: touch;

		&.no-scroll {
			overflow: hidden !important;
		}
	}

	&-overlay {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}

	@media (max-width: $screen-sm-max) {
		&-content {
			margin-top: 75px;
		}
	}

	@media (min-width: $screen-md-min) {
		flex-grow: 1;

		min-height: 100vh;

		&-content {
			position: relative;
		}
	}

	@media print {
		&-content {
			background: none;
		}
	}
}