@import 'styles/_colors';
@import 'styles/_layout';

.a-spot {
	position: relative;

	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 0 $content-margin;

	height: 45vh;
	min-height: 200px;

	&.no-image {
		h2 {
			color: $brand-darkgrey;
		}
	}

	&:not(.no-image) {
		color: $brand-white;

		h2 {
			color: $brand-lightgrey;
		}
	}
	
	&-background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba($brand-darkgrey, .7);
		}
	}

	&-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		padding: {
			top: ($content-padding * 2 + $content-margin);
			bottom: ($content-padding + $content-margin);
			left: $content-padding;
			right: $content-padding;
		}
		text-align: center;
    	max-width: $max-text-width;
	}

	@media (max-width: $screen-sm-max) {
		&-content {
			text-align: left;
			align-items: flex-start;
		}
	}
}