@import 'styles/_layout';

.programme-card {
	&-require {
		list-style-type: none;
		display: flex;
		padding: 0;
		margin: 0;

		> li {
			&:after {
				content: '/';
			}

			&:last-child {
				&:after {
					content: none;
				}
			}
		}
	}
}