@import 'styles/_layout';

.jobs-view-list {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	
	width: 100%;
	max-width: $max-content-width;
	margin-left: auto;
	margin-right: auto;

	&-empty {
		margin-top: 3.5rem;
		
		&-label {
			margin-bottom: $content-margin;
		}
	}

	@media (max-width: $screen-sm-max) {
		&-inner {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}