@import 'styles/_colors';
@import 'styles/_typography';

input.password {
	&::-ms-clear,
	&::-ms-reveal {
		display: none;
	}
}
	
.password-field {
	&.show-controls {
		.password {
			padding-right: 45px;
		}
	}
	
	.password-reveal {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		background: none !important;
		border: 0 !important;
		font-size: 1.4em;
		padding: 0 $content-padding;
	}
	
	.form-group-children {
		display: flex;
	}
	
	.password-strength {
		flex-grow: 1;
		flex-shrink: 0;
	
		.password-strength-bar {
			height: 3px;
			width: 100%;
			left: 0;
			position: absolute;
			top: -3px;
			border-bottom: {
				left-radius: 4px;
				right-radius: 4px;
			}
			overflow: hidden;
			background-color: rgba($brand-darkgrey, 0.2);
	
			.password-strength-fill {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 0;
		
				background-color: $brand-white;
		
				transition: all .5s;
			}
		}
	
		.btn-link {
			padding-left: 0;
			padding-right: 0;
			border-width: 0;
			text-decoration: underline;
		}
		
	
		.password-strength-label {
			font-family: $font-family-headings;
			font-weight: $font-weight-semibold;
			padding: 6px 0;
			font-size: 12px;
			text-transform: uppercase;
			text-align: right;
			margin-left: 16px;
		
			transition: color .5s;
		}
	}
}